@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.Please contact admin</h2>
<h3 class="text-danger">Error.</h3>
<h4 class="text-danger">An error occurred while processing your request.Please contact admin</h4>

